CREATE OR REPLACE FUNCTION get_analytics_summary(start_date timestamptz, end_date timestamptz, exclude_internal boolean DEFAULT false)
RETURNS jsonb
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
DECLARE
    total_views integer;
    unique_visitors integer;
    total_sessions integer;
    top_pages jsonb;
    top_referrers jsonb;
    device_breakdown jsonb;
    traffic_over_time jsonb;
    result jsonb;
BEGIN
    -- Check permissions (admin or marketing)
    IF NOT EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND role IN ('admin', 'marketing')) THEN
        RAISE EXCEPTION 'Access denied';
    END IF;

    -- Basic stats
    SELECT COUNT(*), COUNT(DISTINCT visitor_id), COUNT(DISTINCT session_id)
    INTO total_views, unique_visitors, total_sessions
    FROM public.website_page_views
    WHERE created_at >= start_date AND created_at <= end_date
    AND (NOT exclude_internal OR pathname NOT SIMILAR TO '/(admin|crm|hr|recruitment|marketing|media|sales-kit|telesales|documents|accountant)%');

    -- Top Pages
    SELECT jsonb_agg(row_to_json(t))
    INTO top_pages
    FROM (
        SELECT pathname as path, COUNT(*) as views
        FROM public.website_page_views
        WHERE created_at >= start_date AND created_at <= end_date
        AND (NOT exclude_internal OR pathname NOT SIMILAR TO '/(admin|crm|hr|recruitment|marketing|media|sales-kit|telesales|documents|accountant)%')
        GROUP BY pathname
        ORDER BY views DESC
        LIMIT 10
    ) t;

    -- Top Referrers
    SELECT jsonb_agg(row_to_json(t))
    INTO top_referrers
    FROM (
        SELECT COALESCE(NULLIF(referrer, ''), 'Direct') as source, COUNT(*) as views
        FROM public.website_page_views
        WHERE created_at >= start_date AND created_at <= end_date
        AND (NOT exclude_internal OR pathname NOT SIMILAR TO '/(admin|crm|hr|recruitment|marketing|media|sales-kit|telesales|documents|accountant)%')
        GROUP BY COALESCE(NULLIF(referrer, ''), 'Direct')
        ORDER BY views DESC
        LIMIT 10
    ) t;

    -- Device Breakdown
    SELECT jsonb_agg(row_to_json(t))
    INTO device_breakdown
    FROM (
        SELECT COALESCE(NULLIF(device_type, ''), 'unknown') as device, COUNT(*) as views
        FROM public.website_page_views
        WHERE created_at >= start_date AND created_at <= end_date
        AND (NOT exclude_internal OR pathname NOT SIMILAR TO '/(admin|crm|hr|recruitment|marketing|media|sales-kit|telesales|documents|accountant)%')
        GROUP BY COALESCE(NULLIF(device_type, ''), 'unknown')
        ORDER BY views DESC
    ) t;

    -- Traffic Over Time (grouped by day)
    SELECT jsonb_agg(row_to_json(t))
    INTO traffic_over_time
    FROM (
        SELECT date_trunc('day', created_at) as date, COUNT(*) as views
        FROM public.website_page_views
        WHERE created_at >= start_date AND created_at <= end_date
        AND (NOT exclude_internal OR pathname NOT SIMILAR TO '/(admin|crm|hr|recruitment|marketing|media|sales-kit|telesales|documents|accountant)%')
        GROUP BY date_trunc('day', created_at)
        ORDER BY date_trunc('day', created_at) ASC
    ) t;

    -- Build final result
    result := jsonb_build_object(
        'totalViews', COALESCE(total_views, 0),
        'uniqueVisitors', COALESCE(unique_visitors, 0),
        'totalSessions', COALESCE(total_sessions, 0),
        'topPages', COALESCE(top_pages, '[]'::jsonb),
        'topReferrers', COALESCE(top_referrers, '[]'::jsonb),
        'deviceBreakdown', COALESCE(device_breakdown, '[]'::jsonb),
        'trafficOverTime', COALESCE(traffic_over_time, '[]'::jsonb)
    );

    RETURN result;
END;
\$\$;
